{% extends 'layouts/base.html' %}

{% load humanize %}

{% block content %}

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <p>
      <a href="{% url 'wallet-create' %}" class="btn btn-primary btn-lg">Create wallet</a>
    </p>
  </div>
</div>


<div class="row">
  {% for wallet in wallets %}
  <div class="col-sm-6 col-xs-12">
    <div class="info-box">

      {% if wallet.is_active %}
        <span class="info-box-icon bg-green"><i class="fa fa-credit-card"></i></span>
      {% else %}
        <span class="info-box-icon bg-gray"><i class="fa fa-credit-card"></i></span>
      {% endif %}

        <div class="info-box-content">
          <span class="info-box-text">{{ wallet.name }}</span>
          <span class="info-box-number">{{ wallet.balance|floatformat:2|intcomma }} {{ wallet.currency }}</span>
        </div><!-- /.info-box-content -->

      </div><!-- /.info-box -->
  </div><!-- /.col -->
  {% endfor %}
</div>


{% endblock %}